
__pycache__/
*.py[cod]


venv/
.venv/
env/


*.pod5
*.bam
*.fastq
*.fastq.gz
*.fast5
*.fasta
*.zip
porechop_out/
bin/
pod5/
test_data/
emu_db/
qc_report_final/
qc_report/
assembly_out/
qc_assembly_quast/
NanoStats.txt
*.log
log.txt
.DS_Store
*.zip
microbiONT_Linux.zip
emu_db/
bin/
microbiONT_env/
__pycache__/
.DS_Store
